src/concateneted_flux.p
src/neural_input_global.csv
src/neural_input_local.csv
src/data/global_movavg.csv
src/data/dataset_teste2.csv
src/dataFunctions/global_sovgol.csv
src/dataFunctions/local_sovgol.csv
src/dataFunctions/local.csv
src/data/neural_input_local.csv
src/data/dataset.csv
src/data/local_movavg.csv
src/data/neural_input_global.csv
src/dataFunctions/global.csv
src/logs/1587148820.1642103/events.out.tfevents.1587149391.tftests
src/models/CNN.h5
src/models/FNN.h5
src/models/alexnet.h5
src/models/lstm.h5
src/tfrecord/test-00000-of-00001
src/tfrecord/train-00000-of-00008
src/tfrecord/train-00001-of-00008
src/tfrecord/train-00002-of-00008
src/tfrecord/train-00003-of-00008
src/tfrecord/train-00004-of-00008
src/tfrecord/train-00005-of-00008
src/models
src/labels.csv
src/data/
src/LightCurve_Decoder/Images
src/data